.box.content
  #numbers_menu
    - i = 0
    - @numbers.each do |number|
      - i = i + 1
      %span{ :id => "show_number_#{i}", :class => ('selected' if i == 1) }
        %a{ :href => "numeros/#{i}" }= number.title
  - i = 0
  - @numbers.each do |number|
    - i = i + 1
    %div{ :id => "number_#{i}", :class => ('hide' unless i == 1) }
      %h2{ :style => ('margin-bottom: 2px' unless number.subtitle.empty?) }= number.title
      - unless number.subtitle.empty?
        %h4= number.subtitle
        %br
      - unless number.fact_sheet.empty?
        %strong Ficha técnica
        %p= number.fact_sheet.gsub("\n", "<br/>")
        %br
      - unless number.techniques.empty?
        %strong Técnicas utilizadas
        %p= number.techniques.gsub("\n", "<br/>")
        %br
      - unless number.target_audience.empty?
        %strong Público alvo
        %p= number.target_audience
        %br
      - unless number.duration.empty?
        %strong Duração
        %p= number.duration
        %br
      - unless number.awards.empty?
        %strong Premios
        %p= number.awards.gsub("\n", "<br/>")
        %br
      - unless number.history.empty?
        %strong Breve histórico
        %p= number.history.gsub("\n", "<br/>")
        %br
%script
  var selected_number = 1
  var number
= javascript_include_tag 'numbers'

