.box.content
  %h2 Apoio cultural
  .sponsors
    - link_to "http://www.jrmalabaris.com.br/", :target => :_blank do
      = image_tag 'jrmalabaris_pb.jpg', :class => 'sponsor_pb'
      = image_tag 'jrmalabaris.jpg', :class => 'sponsor hide'
    - link_to "http://www.centromeme.com.br/", :target => :_blank do
      = image_tag 'meme_pb.jpg', :class => 'sponsor_pb'
      = image_tag 'meme.jpg', :class => 'sponsor hide'
    - link_to "http://mailee.me/", :target => :_blank do
      = image_tag 'mailee_pb.png', :class => 'sponsor_pb'
      = image_tag 'mailee.png', :class => 'sponsor hide'
= javascript_include_tag 'sponsors'

