.box.content
  #videos_menu
    - i = 0
    - @embedded_videos.each do |embedded_video|
      - i = i + 1
      %span{ :id => "show_video_#{i}", :class => ('selected' if i == 1) }
        %a{ :href => "videos/#{i}" }= embedded_video.title
  .clear
  %br
  .center
    - i = 0
    - @embedded_videos.each do |embedded_video|
      - i = i + 1
      %div{ :id => "video_#{i}", :class => ('hide' unless i == 1) }
        = embedded_video.code
%script
  var selected_video = 1
  var video
= javascript_include_tag 'videos'

